@{
    ViewData["Title"] = "Home Page";
}
@model LoginDemo.Models.LoginVM
<h1>登入系統</h1>
<form method="Post"enctype="multipart/form-data">
<div>
    <p>帳號</p>
    <input type="text" name="acount" id="acount"required/>
    <div class="col-4 text-start mt-1">
        @Html.ValidationMessageFor(model => model.Acount, "", new { @class = "text-danger px-0" ,@id="accErr"})
    </div>

    <p>密碼</p>
    <input type="password" required />
    <div class="col-4 text-start mt-1">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger px-0"})
    </div>
    <a href="@Url.Content("~/Home/Register")" class="btn btn-primary">註冊</a>

    <input type="submit" value="登入" class="btn btn-primary" />

        <a href="@Url.Content("~/Home/UserFile")" class="btn btn-primary" >進入後台管理系統</a>
</div>

</form>


@section Scripts{
    <script>
        let regex = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
        $("#acount").blur(() => {
            if (!regex.test($("#acount").val())) {
                $("#accErr").text("格式錯誤")
                $("#submit").preventDefault()
            }
            else {
                $("#accErr").text("")
            }
        })
    </script>

}
@*驗證錯誤*@
@{
    if (TempData.ContainsKey("ErrMessage"))
    {
        <script>
         
            alert("@TempData["ErrMessage"]")
        </script>
    }
}